@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.corps nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: flex-end;
  transition: background-color 0.3s ease;
  z-index: 1000;
  /* Pas de fond au départ */
  /* Fond visible après scroll */
}
.corps nav.transparent {
  background-color: transparent;
}
.corps nav.solid {
  /* ou une autre couleur */
  backdrop-filter: blur(5px); /* optionnel pour effet flou */
}
.corps nav ul {
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
  justify-content: end;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.corps nav ul li {
  list-style-type: none;
}
.corps nav ul li a {
  text-decoration: none;
  color: white;
}
.corps nav ul li a:hover {
  background-color: rgb(7, 83, 83);
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.corps header {
  margin-top: 10rem;
  scroll-margin-top: 10rem;
  height: 100vh;
}
.corps header h1 {
  text-align: center;
  padding: 3rem;
  font-size: 3rem;
  background: linear-gradient(to right, rgb(7, 83, 83), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.corps header .description {
  width: 40rem;
  height: 3rem;
  background: linear-gradient(135deg, rgb(7, 83, 83), #2575fc);
  /*Dégradé*/
  transform: skew(-30deg);
  /*Inclinaisondufond*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  -o-transform: skew(-30deg);
}
.corps header .description p {
  color: white;
  font-family: cursive;
  font-size: 1rem;
  white-space: nowrap;
  animation: defiler 15s linear infinite;
}
@keyframes defiler {
  0% {
    transform: skew(15deg) translateX(0);
  }
  100% {
    transform: skew(15deg) translateX(-100%);
  }
}
.corps header .download-button {
  display: block;
  margin: 0 auto;
  width: fit-content;
  padding: 1rem 2rem;
  text-decoration: none;
  border: 0.2rem solid rgb(7, 83, 83);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  margin-top: 3rem;
}
.corps header .download-button:hover {
  background-color: rgb(7, 83, 83);
  color: white;
  transition: 0.3s;
}

.section1 {
  background-color: rgb(7, 83, 83);
  height: 100vh;
  scroll-margin-top: 4rem;
}
.section1 h2 {
  text-align: center;
  padding: 3rem;
  font-size: 3rem;
  background: linear-gradient(to right, white, rgb(7, 83, 83));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section1 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
.section1 .container .text {
  width: 50%;
}
.section1 .container .image .bloc {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}
.section1 .container .image .bloc .bloc1 {
  margin-top: 3rem;
}
.section1 .container .image .bloc .bloc1 i {
  font-size: 1.5rem;
  padding: 1rem;
  background: linear-gradient(135deg, rgb(7, 83, 83), #2575fc);
  border-radius: 120px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -ms-border-radius: 120px;
  -o-border-radius: 120px;
}
.section1 .container .image .bloc .bloc2 {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.section1 .container .image .bloc .sous-bloc1 {
  background: linear-gradient(135deg, rgb(7, 83, 83), #2575fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  gap: 3rem;
}

.section2 {
  height: 100vh;
  padding: 2rem;
  scroll-margin-top: 4rem;
}
.section2 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section2 .container .project {
  width: 300px;
  text-align: center;
}
.section2 .container .project img {
  width: 100%;
  border-radius: 1rem;
}
.section2 .container .project h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.section2 .container .project p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
