*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    
}
.corps{
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        justify-content: flex-end;
        transition: background-color 0.3s ease;
        z-index: 1000;
        /* Pas de fond au départ */
            &.transparent {
                background-color: transparent;
}

/* Fond visible après scroll */
            &.solid {
                 /* ou une autre couleur */
                backdrop-filter: blur(5px); /* optionnel pour effet flou */
}
                    .menu-toggle {
            display: none; // cacher le burger par défaut
             font-size: 2rem;
             color: white;
             cursor: pointer;       
             padding: 1rem;
            }

        ul{
            display: flex;
            gap: 4rem;
            margin-top: 2rem;
            justify-content: end;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            li{
                 list-style-type: none;
                a{
                    text-decoration: none;
                    color: white;
                    &:hover{
                        background: $melange-color;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
    header{
        margin-top: 10rem;
         scroll-margin-top: 10rem;
         height: 100vh;
        h1{
            text-align: center;
            padding: 3rem;
            font-size: 3rem;
            background: linear-gradient(to right, rgb(7, 83, 83), white);
            background-clip: text;
            background-clip: text;
            background-clip: text;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
       .description{
            width: 40rem;
            height: 3rem;
            background: linear-gradient(135deg, rgb(7, 83, 83), #2575fc);
            /*Dégradé*/transform: skew(-30deg);
            /*Inclinaisondufond*/display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            -webkit-transform: skew(-30deg);
            -moz-transform: skew(-30deg);
            -ms-transform: skew(-30deg);
            -o-transform: skew(-30deg);
            p{
                color: white;
                font-family: cursive;
                font-size: 1rem;
                 white-space: nowrap;
                 animation: defiler 15s linear infinite;
                 @keyframes defiler {
    0% { transform: skew(15deg) translateX(0); }
    100% { transform: skew(15deg) translateX(-100%); }
    }
            }
            
}
.download-button{
               display: block;
               margin: 0 auto;
               width: fit-content;
               padding: 1rem 2rem;
               text-decoration: none;
               border: 0.2rem solid rgb(7, 83, 83);
               border-radius: 0.5rem;
               -webkit-border-radius: 0.5rem;
               -moz-border-radius: 0.5rem;
               -ms-border-radius: 0.5rem;
               -o-border-radius: 0.5rem;
               margin-top: 3rem;
               &:hover{
                   background-color: rgb(7, 83, 83);
                   color: white;
                   transition: 0.3s;
               }
}
    }
}
.section1{
    background-color: rgb(7, 83, 83);
    height: 100vh;
    scroll-margin-top: 4.2rem;
    h2{
        margin-top: 0.3rem;
        text-align: center;
        padding: 3rem;
        font-size: 3rem;
        background: linear-gradient(to right, white, rgb(7, 83, 83));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
        .text{
            width: 50%;
        }
        .image{
           .bloc{
            display: flex;
            gap: 2rem;
            padding: 1rem;
            .bloc1{
                margin-top: 3rem;
                i{
                    font-size: 1.5rem;
                    padding: 1rem;
                      background: linear-gradient(135deg, rgb(7, 83, 83), #2575fc);
                      border-radius: 120px;
                      -webkit-border-radius: 120px;
                      -moz-border-radius: 120px;
                      -ms-border-radius: 120px;
                      -o-border-radius: 120px;
}
            }
            .bloc2{
                 background-color: white;
                 padding: 1rem;
                 border-radius: 1rem;
                
                 -webkit-border-radius: 1rem;
                 -moz-border-radius: 1rem;
                 -ms-border-radius: 1rem;
                 -o-border-radius: 1rem;
            }
             .sous-bloc1{
                     
                background: linear-gradient(135deg, rgb(7, 83, 83), #2575fc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
                display: flex;
                gap: 3rem;
               }
            }
           }
        }
    }

   