$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$color-primary: rgb(7, 83, 83);
$melange-color:  linear-gradient(135deg, rgb(7, 83, 83), #2575fc);
$background-gradient: linear-gradient(to right, white, rgb(7, 83, 83));
$rouge-violet: linear-gradient(135deg, rgb(218, 15, 15), #720cee);