@media (max-width: 768px) {
    .section2 {
        height: 100vh;
        padding-bottom: 2rem;

        .container-project {
            .filtre-buttons {
               
                gap: 0.5rem;
                padding: 1rem;
            }
                button {
                    margin-right: 0;
                    margin-bottom: 0.5rem;
                    display: flex;
                    text-align: center;
                    flex-wrap: wrap;
                }
                
            }

            .projets {
                flex-direction: column;
                align-items: center;

                .projet {
                    width: 90%;
                    margin-bottom: 1rem;
                }
            }
        }
    }
