@media (max-width: $breakpoint-sm) {
    .section1 {
        min-height: 100vh;
        padding: 1rem 0;

        .container {
            flex-direction: column;
            padding: 0.5rem;
            gap: 1.5rem;

            .text {
                width: 95%;
                margin-bottom: 1.5rem;
                padding: 1rem;
            }

            .image {
                width: 95%;
                padding: 1rem;

                .bloc {
                    flex-direction: column;
                    gap: 1.5rem;

                    .bloc1 {
                        margin-top: 0;
                        align-self: center;
                    }

                    .sous-bloc1 {
                        flex-direction: column;
                        gap: 1.5rem;
                        text-align: center;
                        padding: 0.5rem;
                    }
                }
            }
        }
    }
}