.section4{
    scroll-margin-top: 6rem;
    height: 100vh;
    .h2{
        text-align: center;
        font-size: 3rem;
        background: linear-gradient(135deg, rgb(218, 15, 15), #720cee);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .container-contact{
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 2rem;
        .message{
            background: $rouge-violet;
        }
    }
}